{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% if page_title %}
    <title>{{ page_title }} | Simple Blog Site</title>
    {% else %}
    <title>Simple Blog Site</title>
    {% endif %}
    
    <link rel="stylesheet" href="{% static 'blogApp/css/style.css' %}">
   
    <!-- CDNS -->
    <link rel ='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"  >
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.20.0/css/mdb.min.css">
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" 
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.min.js" 
    integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js" 
    integrity="sha512-pax4MlgXjHEPfCwcJLQhigY7+N8rt6bVvWLFyUMuxShv170X53TRzGPmPkZmGBhk+jikR8WBM4yl7A9WMHHqvg==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"
    integrity="sha512-nnzkI2u2Dy6HMnzMIkh7CPd1KX445z38XIu4jG1jGw7x5tSL3VBjE44dY4ihMU1ijAQV930SPM12cCFrB18sVw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.20.0/js/mdb.min.js"></script>

    {% block headerContent %} {% endblock headerContent %}
</head>

<body>

    {% block TopNavigation %} <header>
        <!-- Intro settings -->
        <style>
            #intro {
                /* Margin to fix overlapping fixed navbar */
                margin-top: 58px;
                background-color: aqua;
            }
            
            @media (max-width: 991px) {
                #intro {
                    /* Margin to fix overlapping fixed navbar */
                    margin-top: 45px;
                }
            }
        </style>
    
        <!-- Navbar -->
        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
            <div class="container">
                
                <div class="collapse navbar-collapse" id="navbarExample01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" aria-current="page" href="{% url 'home-page' %}">Home</a>
                        </li>
                        
                         <li class="nav-item">
                            <a class="nav-link" href="{% url 'category-page' %}">All Categories</a>
                        </li>
                    </ul>
    
                    <ul class="navbar-nav d-flex flex-row" >
                        {% if user.id %}
                        
                        <li class="nav-item me-3 me-lg-0">
                            <a class="nav-link" href="{% url 'post-mgt' %}">Post Management</a>
                        </li>
                        {% if user.profile.user_type == 1 %}
                        <li class="nav-item me-3 me-lg-0">
                            <a class="nav-link" href="{% url 'category-mgt' %}">Category Mgt</a>
                        </li>
                        {% endif %}
                        <li class="nav-item me-3 me-lg-0">
                            <a class="nav-link" href="{% url 'profile' %}">
                                <span class="me-1"><img src="{{ user.profile.avatar.url }}" alt="User Avatar" id="user-avatar" class="img-thumbnail rounded-circle"></span>{{ user.first_name }} {{user.last_name}}
                            </a>
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a> 
                        </li>
                        <li class="nav-item me-3 me-lg-0">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item me-3 me-lg-0">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        
                        {% endif %}
                        <li class="nav-item me-3 me-lg-0" >
                            <form class="form-inline my-2 my-lg-0" action="{% url 'search'%}" method="GET">
                                <input name="keyword" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" required>
                                <button class="btn btn-danger my-2 my-sm-0" type="submit" style="background-color:rgb(51, 9, 202);">
                                    <i class="fa fa-search"></i>
                                </button>
                                </form> 
                            </li>
                        
                      
                    </ul>
                </div>
            </div>
        </nav>  -->
        <!-- Navbar -->
    
        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
          
            <a class="navbar-brand" href="{% url 'home-page' %}">BloggingSite</a>
          
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home-page' %}"><strong>Home</strong> <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'category-page' %}"><strong>All Categories</strong></a>
                </li>
                {% if user.id%}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'post-mgt' %}"><strong>Post Management</strong></a>
                </li>
                {% if user.profile.user_type == 1 %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'category-mgt' %}"><strong>Category Management</strong></a>
                </li>
                {%endif%}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'liked-post' %}"><strong>Likes</strong></a>
                </li>
    
    
                    
                    
                    <li class="nav-item active" >
                        <a class="nav-link" href="{% url 'profile' %}">
                        <span class="me-1"><img src="{{ user.profile.avatar.url }}" alt="User Avatar" id="user-avatar" class="img-thumbnail rounded-circle"></span>{{ user.first_name }} {{user.last_name}}
                    </a>
                    </li>
                    <li class="nav-item active" >
                      <a class="nav-link" href="{% url 'logout' %}"><strong>Logout</strong></a>
                      </li>
                  
                    {% else %}
                    <li class="nav-item active" >
                    <a class="nav-link" href="{% url 'login' %}" "><strong>Login</strong></a>
                    </li>
                </ul>
                  
                    {% endif %}
                        
                   
                 
    
                
    
    
    
                
            
            
              <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="GET">
                <input name="keyword" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" required>
                <button class="btn btn-danger my-2 my-sm-0" type="submit" style="background-color:rgb(51, 9, 202)">
                    <i class="fa fa-search"></i>
                </button>
                </form> 
            </div>
            </nav> -->
    
    
            <nav class="navbar navbar-expand-lg navbar-dark bg-secondary"  >
                <a class="navbar-brand" href="{% url 'home-page' %}" style = "margin-left: 12%;">Blogging-Site</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home-page' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'category-page' %}">All Categories</a>
                    </li>
                    {% if user.id%}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'post-mgt' %}">Post Management</a>
        
                        
                    </li>
                    {% if user.profile.user_type == 1 %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'category-mgt' %}" >Category Management</a>
                        {% endif %}
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'liked-post' %}">Likes</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'profile' %}">
                        <span class="me-1"><img src="{{ user.profile.avatar.url }}" alt="User Avatar" id="user-avatar" class="img-thumbnail rounded-circle"></span>{{ user.first_name }} {{user.last_name}}
                    </a>
                    </li>
    
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else%}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                    </ul>
                    <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="GET">
                    <input name="keyword" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" required>
                    <button class="btn btn-light my-2 my-sm-0" type="submit" style="background-color:rgb(51, 9, 202)">
                        <i class="fa fa-search"></i>
                    </button>
                    </form>
                </div>
                </nav>
    
    
        <!-- Jumbotron -->
        <div id="intro" class="pt-2 text-center bg-light">
            
        </div>
        <!-- Jumbotron -->
    </header> {% endblock TopNavigation %}
    <main class="my-5">
        <div class="container">
            {% if messages %}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% for message in messages %}
                    <div class="alert alert-{{message.tags}} w-100 rounded-0 mb-0">
                        <div class="d-flex w-100">
                            <div class="col-auto flex-shrink-1 flex-grow-1">{{ message }}</div>
                            <div class="col-auto text-center">
                                <button class="btn-close btn-sm text-sm" type="button" onclick="$(this).closest('.alert').remove()"></button>
                            </div>
                        </div>

                    </div>
                    {% endfor %}
                </div>
            </div>{% endif %} {% block pageContent %} {% endblock pageContent %}

        </div>
    </main>
    {% block ScriptBlock %} {% endblock ScriptBlock %}
    <div class="modal fade" id="uni_modal" role='dialog'>
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn  btn-sm btn-flat btn-primary rounded-0" id='submit' onclick="$('#uni_modal form').submit()">Save</button>
                    <button type="button" class="btn btn-sm btn-flat btn-secondary rounded-0" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirm_modal" role='dialog'>
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmations</h5>
                </div>
                <div class="modal-body">
                    <div id="delete_content"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-flat btn-primary rounded-0" id='confirm' onclick="">Continue</button>
                    <button type="button" class="btn btn-sm btn-flat btn-light border rounded-0" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

   

    <footer class="text-center text-lg-start bg-light text-muted">
        
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2022 Copyright:
          <a class="text-reset fw-bold" href="https://influencerx.com">reserved</a>
          <br>
          Developed by : Aashish Ghimire
        </div>
        
      </footer>
    <script>
        const loader = $('<div>')
        loader.attr('id', 'pre-loader')
        loader.html('<div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>')

        window.start_loader = function() {
            $('body').removeClass('loading')
            if ($('#pre-loader').length > 0)
                $('#pre-loader').remove();
            $('body').append(loader)
            $('body').addClass('loading')
        }
        window.end_loader = function() {
            if ($('#pre-loader').length > 0)
                $('#pre-loader').remove();
            $('body').removeClass('loading')
        }
        window.uni_modal = function($title = '', $url = '', $size = "") {
            start_loader()
            $.ajax({
                url: $url,
                error: err => {
                    console.log()
                    alert("An error occured")
                },
                success: function(resp) {
                    if (resp) {
                        $('#uni_modal .modal-title').html($title)
                        $('#uni_modal .modal-body').html(resp)
                        if ($size != '') {
                            $('#uni_modal .modal-dialog').addClass($size + '  modal-dialog-centered')
                        } else {
                            $('#uni_modal .modal-dialog').removeAttr("class").addClass("modal-dialog modal-md modal-dialog-centered")
                        }
                        $('#uni_modal').modal({
                            backdrop: 'static',
                            keyboard: false,
                            focus: true
                        })
                        $('#uni_modal').modal('show')
                        end_loader()
                    }
                }
            })
        }
        window._conf = function($msg = '', $func = '', $params = []) {
            $('#confirm_modal #confirm').attr('onclick', $func + "(" + $params.join(',') + ")")
            $('#confirm_modal .modal-body').html($msg)
            $('#confirm_modal').modal('show')
        }
        $(function() {

        })
    </script>


    <script src="{% static 'blogApp/assets/select2/dist/js/select2.full.js' %}"></script>
</body>

</html>