{% extends "base.html" %} {% load humanize %} {% block pageContent %}

<!--Section: Content-->
<section class="text-center">
    <h3 class="mb-4"><strong><b>Your Likes :</b></strong></h3>

    <div class="row">
        {% for like in likes %}
        {% if like.post.status == 1 %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card shadow border">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="{% if post.banner %}{{ post.banner.url }}{% else %}{{ MEDIA_URL}}/media/default/blogbanner.png{% endif %}" class="img-fluid post-banner bg-gradient bg-dark" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(223, 37, 37, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ like.post.title }}</h5>
                    <div class="card-text truncate-3"><b>{{ like.post.blog_post|safe }} </b> </div>
                    <a href="{% url 'view-post' like.post.id %}" class="btn btn-primary">Read</a>
                    <form class="form-inline my-2 my-lg-0" action="{% url 'unlike' like.post.id %}" method="GET">
                        <!-- <input name="keyword" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" required> -->
                        <button class="btn btn-info my-2 my-sm-0" type="submit" style="background-color:rgb(51, 9, 202);">
                            <i class="fa fa-thumbs-up"></i>
                        </button><b>{{like.post.likes}} likes  </b>
                        </form>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}


    </div>
    {% if not results %}
    <center>No result found.</center>
    {% endif %}

</section>


</div> --> {% endblock pageContent %}
